body {
  padding-top: 133px;
}

main.content {
  padding-top: 52px;
  background-color: #ffffff;
  position: relative;
}

header.rpify-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

nav.fixed-nav {
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: -52px;
  z-index: 1030;
  position: relative;
}