<section class="panel panel-warning" ng-controller="TestCtrl as tc">
  <section class="panel-heading">
    This is a warning!
  </section>
  <section class="panel-body">
    You clicked a tab bro!<p></p>
    Some info is: {{tc.getInfoFromService()}}
  </section>
</section>